.logoFont {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:1.875em;	
}

.userFont {
	font-family:"Lucida Console", Monaco, monospace;
	font-size:1em;	
}

.header {
	height:67px;
	width:100%;
	background-color:#b0e0e6;
}

.footer {
	height:23px;
	width:100%;
	background-color:#b0e0e6;
}

.loginPanel {
	height:300px;
	width:100%
}

.loginForm {
	margin-left:auto;
	margin-right:auto;
	width:20%;
}

.uploadForm {
	margin-left:auto;
	margin-right:auto;
	width:40%;
}

.activitiesTable {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

.panelGridCenter {
	text-align: center;
	margin: 0 auto;
}

.mapPanel {
	height:400px;
	width:70%
}